.box
{
    text-align:center;
    width:200%;
    padding:10px;
    margin:30%;
    background-color:white;
    font-size:bold;
}
button label{
    color:black;
}
tr,table,td{
    padding:10px;
    background-color:brown;
    width:30%;
    margin:50px 470px 10px;
    color:white;
}
